# Ignore everything:
*

# Do not ignore the .gitignore, license, readme, or documentation file
!.gitignore
!LICENSE
!README.md
!documentation.docx

# Do not ignore the component (site or admin)
!components/
!components/*
!components/com_hubspotmigration/
!components/com_hubspotmigration/*
!administrator/
!administrator/*
!administrator/components/
!administrator/components/*
!administrator/components/com_hubspotmigration/
!administrator/components/com_hubspotmigration/*
!administrator/components/com_hubspotmigration/controllers/
!administrator/components/com_hubspotmigration/controllers/*
!administrator/components/com_hubspotmigration/helpers/
!administrator/components/com_hubspotmigration/helpers/*
!administrator/components/com_hubspotmigration/models/
!administrator/components/com_hubspotmigration/models/*
!administrator/components/com_hubspotmigration/sql/
!administrator/components/com_hubspotmigration/sql/*
!administrator/components/com_hubspotmigration/sql/updates/
!administrator/components/com_hubspotmigration/sql/updates/*
!administrator/components/com_hubspotmigration/sql/updates/mysql/
!administrator/components/com_hubspotmigration/sql/updates/mysql/*
!administrator/components/com_hubspotmigration/views/
!administrator/components/com_hubspotmigration/views/*
!administrator/components/com_hubspotmigration/views/author/
!administrator/components/com_hubspotmigration/views/author/*
!administrator/components/com_hubspotmigration/views/author/tmpl/
!administrator/components/com_hubspotmigration/views/author/tmpl/*
!administrator/components/com_hubspotmigration/views/authors/
!administrator/components/com_hubspotmigration/views/authors/*
!administrator/components/com_hubspotmigration/views/authors/tmpl/
!administrator/components/com_hubspotmigration/views/authors/tmpl/*
!administrator/components/com_hubspotmigration/views/blog/
!administrator/components/com_hubspotmigration/views/blog/*
!administrator/components/com_hubspotmigration/views/blog/tmpl/
!administrator/components/com_hubspotmigration/views/blog/tmpl/*
!administrator/components/com_hubspotmigration/views/blogs/
!administrator/components/com_hubspotmigration/views/blogs/*
!administrator/components/com_hubspotmigration/views/blogs/tmpl/
!administrator/components/com_hubspotmigration/views/blogs/tmpl/*
!administrator/components/com_hubspotmigration/views/migration/
!administrator/components/com_hubspotmigration/views/migration/*
!administrator/components/com_hubspotmigration/views/migration/tmpl/
!administrator/components/com_hubspotmigration/views/migration/tmpl/*
!administrator/components/com_hubspotmigration/views/migrations/
!administrator/components/com_hubspotmigration/views/migrations/*
!administrator/components/com_hubspotmigration/views/migrations/tmpl/
!administrator/components/com_hubspotmigration/views/migrations/tmpl/*
!administrator/components/com_hubspotmigration/views/textmapping/
!administrator/components/com_hubspotmigration/views/textmapping/*
!administrator/components/com_hubspotmigration/views/textmapping/tmpl/
!administrator/components/com_hubspotmigration/views/textmapping/tmpl/*
!administrator/components/com_hubspotmigration/views/textmappings/
!administrator/components/com_hubspotmigration/views/textmappings/*
!administrator/components/com_hubspotmigration/views/textmappings/tmpl/
!administrator/components/com_hubspotmigration/views/textmappings/tmpl/*


# Ignore miscellaneous index.html and index.php files
components/index.html
administrator/index.html
administrator/index.php
administrator/components/index.html